.DS_Store
.build/
Packages/
Package.resolved
xcuserdata/
DerivedData/
.swiftpm/
*.xcodeproj
*.xcworkspace
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.hmap
*.xccheckout
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
timeline.db
loopin.sqlite
loopin.sqlite-shm
loopin.sqlite-wal
.gradle/
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.app
